2009 - Employment Permit by Companies

In [7]:
year = 2009

# Reading the raw data in the folder on my personal computer
import pandas as pd

df = pd.read_excel(f"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/raw_data/{year}/companes-issued-with-permits-{year}.xls",
                   header=3
)

In [ ]:
# Removing rows where "Company Name" is empty
df = df[df['Company Name'].notna() & (df['Company Name'].str.strip() != '')]

# Removing rows where contais "Total for" value
df = df[~df['Company Name'].str.contains('Total for', na=False)]

# Grouping by "Company name" because the next datasets don't have county information and using just the total information
df['Company Name'] = df['Company Name'].str.strip().str.replace(r'\s+', ' ', regex=True).str.title() # Normalizing data before grouping
df = df.groupby('Company Name', as_index=False)['Total'].sum()

# Inserting the year
df["Year"] = f"{year}"

# Renaming the company column and removing useless columns
df = df.rename(columns={'Company Name': 'Company'})
# df = df.drop(columns=["County", "New ", "Renewal"], inplace=True, errors='ignore')

# Sorting columns
df = df[['Year', 'Company', 'Total']]

In [9]:
# I used the extension .csv because is lighter and easy to work with some libraries like pandas, sqlalchemy
df.to_csv(f"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/{year}/permits-by-companies-{year}.csv", index=False)

print(df)

      Year                                          Company Total
0     2009                                 20/20 Vision Ltd     1
1     2009                  365 Hosting Ltd T/A Hosting 365     1
2     2009                                       747 Travel     1
3     2009                               A & S Clothing Ltd     1
4     2009                               A B Mauri (UK) Ltd     1
...    ...                                              ...   ...
3396  2009      Zhengking Ltd T/A Pagoda Chinese Restaurant     1
3397  2009                        Zied Bartache t/a Padrone     1
3398  2009                                     Zoe Woodward     1
3399  2009  Zula Investments Limited t/a Sinners Restaurant     1
3400  2009                    Áras Sláinte Ltd T/A The Well     3

[3401 rows x 3 columns]