2014 - Employment Permit by Companies

In [3]:
year = 2014

# Reading the raw data in the folder on my personal computer
import pandas as pd

df = pd.read_excel(f"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/raw_data/{year}/companies-issued-with-permits-{year}.xlsx",
                   skiprows=[1]
)

In [4]:
# Removing rows where "Company Name" is empty
df = df[df['Employer Name'].notna() & (df['Employer Name'].str.strip() != '')]

# Removing rows where contais "Total for" value
df = df[~df['Employer Name'].str.contains('Total for', na=False)]

# Grouping by "Company name" because the next datasets don't have county information and using just the total information
df['Employer Name'] = df['Employer Name'].str.strip().str.replace(r'\s+', ' ', regex=True).str.title() # Normalizing data before grouping
df = df.groupby('Employer Name', as_index=False)['Total'].sum()

# Inserting the year
df["Year"] = f"{year}"

# Renaming the company column and removing useless columns
df = df.rename(columns={'Employer Name': 'Company'})

# Sorting columns
df = df[['Year', 'Company', 'Total']]

In [5]:
# I used the extension .csv because is lighter and easy to work with some libraries like pandas, sqlalchemy
df.to_csv(f"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/{year}/permits-by-companies-{year}.csv", index=False)

print(df)

      Year                                   Company  Total
0     2014                             123 Money Ltd      1
1     2014                  3 Leaves Technology Ltd.      1
2     2014                             3Rd Dimension      1
3     2014                         A Aabound Limited      1
4     2014            Abbey Breaffy Nursing Home Ltd      1
...    ...                                       ...    ...
1383  2014             Zendesk International Limited      4
1384  2014                       Zenith Technologies      8
1385  2014                              Zerogrey Ltd      1
1386  2014                  Zevas Communications Ltd      1
1387  2014  Zimmer Orthopedics Manufacturing Limited      1

[1388 rows x 3 columns]