2020 - Employment Permit by Companies

In [1]:
year = 2020

# Reading the raw data in the folder on my personal computer
import pandas as pd

df = pd.read_excel(f"G:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/raw_data/{year}/permits-issued-to-companies-{year}.xlsx",
                header=2,
                skiprows=[3]
)

In [2]:
# Renaming the first column
df = df.rename(columns={df.columns[0]: "Company"})

# Melting the values into months
df = df.melt(id_vars=["Company"], 
                    value_vars=["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    var_name="Month",
                    value_name="Total")

# Removes the nan of total column
df = df.dropna(subset=["Total"])

# Adding the year
df['Year'] = year

# Sorting columns
df = df[["Year", "Month", "Company", "Total"]]

# Sorting by month (according to the calendar)
month_order = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
               "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
df["Month"] = pd.Categorical(df["Month"], categories=month_order, ordered=True)
df['Company'] = df['Company'].str.strip().str.replace(r'\s+', ' ', regex=True).str.title() # Normalizing data

df = df[['Year', 'Month', 'Company', 'Total']]
df = df.sort_values(by=["Month", "Company"])

In [3]:
# I used the extension .csv because is lighter and easy to work with some libraries like pandas, sqlalchemy
df.to_csv(f"G:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/{year}/permits-by-companies-{year}.csv", index=False)

# I noticed that they didn't have August's values

print(df)

       Year Month                      Company  Total
6      2020   Jan     3D Design Bureau Limited    1.0
15     2020   Jan               A & L Goodbody    1.0
68     2020   Jan               Abbott Ireland    1.0
59     2020   Jan         Abbvie Ireland Nl Bv    1.0
71     2020   Jan       Abhann Productions Ltd    4.0
...     ...   ...                          ...    ...
41558  2020   Dec        Xpress Pantry Limited    1.0
41572  2020   Dec   Yi Thai Restaurant Limited    1.0
41575  2020   Dec                Yooni Limited    1.0
41601  2020   Dec  Zenith Technologies Limited    3.0
41603  2020   Dec        Zepnick Solutions Inc    1.0

[6874 rows x 4 columns]