2024 - Employment Permit by Companies

In [11]:
year = 2024

# Reading the raw data in the folder on my personal computer
import pandas as pd

df = pd.read_excel(f"G:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/raw_data/{year}/permits-issued-to-companies-{year}.xlsx",
                header=0,
                skiprows=[1]
)
print(df)

                                          Employer Name  Grand Total  Jan  \
0                     Eileen Nangle and Fennor Farm Ltd            1  NaN
1     Spórt-Ionad Réigiúinach Chorcaí Cuideachta Fao...            1  NaN
2                                        Brushfield Ltd            1  NaN
3      Eversheds Sutherland Legal Support Services U...            2  NaN
4                            Honeywell Advanced Limited            4  1.0
...                                                 ...          ...  ...
8057                         ISEN Security Services Ltd            2  NaN
8058                            jump! Marketing Limited            1  NaN
8059                                        nAperte DAC            1  NaN
8060                                   turboTEM Limited            1  NaN
8061                                vmforensics limited            3  NaN

      Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN
1     NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN
2     NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3     1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN
4     2.0  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
8057  NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN  1.0
8058  NaN  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8059  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN
8060  NaN  1.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
8061  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.0  NaN  2.0  NaN

[8062 rows x 14 columns]

In [2]:
# Renaming the first column
df = df.rename(columns={df.columns[0]: "Company"})

# Melting the values into months
df = df.melt(id_vars=["Company"], 
                    value_vars=["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    var_name="Month",
                    value_name="Total")

# Removes the nan of total column
df = df.dropna(subset=["Total"])

# Adding the year
df['Year'] = year

# Sorting columns
df = df[["Year", "Month", "Company", "Total"]]

# Sorting by month (according to the calendar)
month_order = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
               "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
df["Month"] = pd.Categorical(df["Month"], categories=month_order, ordered=True)
df['Company'] = df['Company'].str.strip().str.replace(r'\s+', ' ', regex=True).str.title() # Normalizing data

df = df[['Year', 'Month', 'Company', 'Total']]
df = df.sort_values(by=["Month", "Company"])

KeyError: "The following id_vars or value_vars are not present in the DataFrame: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']"

In [ ]:
# I used the extension .csv because is lighter and easy to work with some libraries like pandas, sqlalchemy
df.to_csv(f"G:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/{year}/permits-by-companies-{year}.csv", index=False)

# I noticed that they didn't have August's values

print(df)