2009 - Employment Permit by County

In [2]:
# Reading the raw data in the folder on my personal computer
import pandas as pd

df = pd.read_excel(r"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/raw_data/2009/permits-issued-by-county-2009.xls",
                   skiprows=[1] # I needed to skip this row because I had the summarization of the values by year, which was uninteresting
)

In [3]:
# Replacing the NaN values by the year
df["Year"] = df["Year"].fillna("2009")

In [4]:
# Before 2020 the column structures of the files were different. So, I needed to rename the column "Total" by "Issued" because after 2020 the new file didn't have the columns "New" and "Renewals", only "Issued". In this case, to keep the standard of the project, I needed to mantain only "Issued".
df.rename(columns={"Total": "Issued", "County/Country": "County"}, inplace=True) # I had to replace "County/Country" by just "County" once that this analysis is about counties
df.drop(columns=["New ", "Renewals", "Group"], inplace=True) # Here I realized that there were some issues in the column names like "New " instead of "New" and the "Group" column was empty

# I created the column "Obs" to make sure that all counties belong to Ireland or any issues that I could find by crossing some databases

In [5]:
# As this part of project is focused only in the counties, I had to group all missed places by "Others"

# I had to made a copy of the df with the filtered rows by not being "NaN" (because some cases are about countries or counties from North Ireland)
df_others = df[df["Obs"].notna()].copy()
# Replacing all values by just "Others" to facilitate the analysis
df_others["County"] = "Others"
# Summarizing the columns
df_others_grouped = df_others.groupby(["Year", "County"], as_index=False)[["Issued", "Refused", "Withdrawn"]].sum()
# Creating a dataframe with only the "Others" row
df_main = df[df["Obs"].isna()].copy()
# Concatenating both dataframes, original and the modified copy
df = pd.concat([df_main, df_others_grouped], ignore_index=True)
# As I don't need to use the "Obs" column, I removed for the final file
df.drop(columns=["Obs"], inplace=True)

In [6]:
# I used the extension .csv because is lighter and easy to work with some libraries like pandas, sqlalchemy
df.to_csv(r"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/2009/permits-issued-by-county-2009.csv", index=False)

print(df)

    Year     County  Issued  Refused  Withdrawn
0   2009     Carlow      66       11          2
1   2009      Cavan      67       59          6
2   2009      Clare     125       42          5
3   2009       Cork     551      145         17
4   2009    Donegal     109       34          6
5   2009     Dublin    4001      754        260
6   2009     Galway     336       93         14
7   2009      Kerry      92       44          5
8   2009    Kildare     971      151         28
9   2009   Kilkenny      71       27          7
10  2009      Laois      36       16          0
11  2009    Leitrim      14       11          1
12  2009   Limerick     189       60         16
13  2009   Longford      37       13          2
14  2009      Louth      80       41          8
15  2009       Mayo      88       34          4
16  2009      Meath     241       66         15
17  2009   Monaghan      41       29          6
18  2009     Offaly      32       14          3
19  2009  Roscommon      24       13          1
20  2009      Sligo      36       13          2
21  2009  Tipperary     204       90         10
22  2009  Waterford      74       36          3
23  2009  Westmeath     179       35          4
24  2009    Wexford      71       31          5
25  2009    Wicklow     225       38         12
26  2009     Others       2        1          0