2022 - Employment Permit by County

In [31]:
# Reading the raw data in the folder on my personal computer
import pandas as pd

df = pd.read_excel(r"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/raw_data/2022/permits-by-county-2022.xlsx", # This case is using .xlsx and has a different file name, 2010 and 2009 were using the extension .xls
                   header=1,
                   skiprows=[2] # I needed to skip these rows because I had the summarization of the values by year (which was uninteresting)
)

In [32]:
# As the structure of the columns were modified after 2020, I had to rename automatically the first one by "County"
df.rename(columns={"Unnamed: 0": "County"}, inplace=True)

In [33]:
# Creating a new column because of the new structure where the year is on top of the table
df["Year"] = 2022

# Sorting the year column to be the first one 
df = df[["Year"] + [col for col in df.columns if col != "Year"]]

In [34]:
# As this part of project is focused only in the counties, I had to group all missed places by "Others"

# I had to made a copy of the df with the filtered rows by not being "NaN" (because some cases are about countries or counties from North Ireland)
df_others = df[df["Obs"].notna()].copy()
# Replacing all values by just "Others" to facilitate the analysis
df_others["County"] = "Others"
# Summarizing the columns
df_others_grouped = df_others.groupby(["Year", "County"], as_index=False)[["Issued", "Refused", "Withdrawn"]].sum()
# Creating a dataframe with only the "Others" row
df_main = df[df["Obs"].isna()].copy()
# Concatenating both dataframes, original and the modified copy
df = pd.concat([df_main, df_others_grouped], ignore_index=True)
# As I don't need to use the "Obs" column, I removed for the final file
df.drop(columns=["Obs"], inplace=True)

In [35]:
# I used the extension .csv because is lighter and easy to work with some libraries like pandas, sqlalchemy
df.to_csv(r"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/2022/permits-issued-by-county-2022.csv", index=False)

print(df)

    Year     County   Issued  Refused  Withdrawn
0   2022     Carlow    242.0       61        4.0
1   2022      Cavan    667.0       43       22.0
2   2022      Clare    332.0       62       11.0
3   2022       Cork   3047.0      301      125.0
4   2022    Donegal    430.0       57       20.0
5   2022     Dublin  21097.0     1574      585.0
6   2022     Galway   1440.0      128       63.0
7   2022      Kerry    423.0       44       27.0
8   2022    Kildare   2234.0      219      191.0
9   2022   Kilkenny    398.0       44       16.0
10  2022      Laois    177.0       31        8.0
11  2022    Leitrim     64.0        8        1.0
12  2022   Limerick   1525.0      190      105.0
13  2022   Longford    146.0        9        1.0
14  2022      Louth    642.0       57       84.0
15  2022       Mayo    569.0       51       20.0
16  2022      Meath   1064.0      187       53.0
17  2022   Monaghan    684.0       12       44.0
18  2022     Offaly    575.0       22       15.0
19  2022  Roscommon    236.0       24        8.0
20  2022      Sligo    281.0       13        5.0
21  2022  Tipperary    542.0       80       77.0
22  2022  Waterford   1303.0       45       69.0
23  2022  Westmeath    571.0       49       28.0
24  2022    Wexford    859.0       79      108.0
25  2022    Wicklow    348.0       72       12.0
26  2022     Others     59.0       14        3.0