2014 - Employment Permit by Nationality

In [6]:
year = 2014

# Reading the raw data in the folder on my personal computer
import pandas as pd

df = pd.read_excel(f"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/raw_data/{year}/permits-issued-by-nationality {year}.xlsx",
                   skiprows=[1] # I needed to skip this row because I had the summarization of the values by year, which was uninteresting
)

In [7]:
# Replacing the NaN values by the year
df["Year"] = df["Year"].fillna(f"{year}")

In [8]:
# Before 2020 the column structures of the files were different. So, I needed to rename the column "Total" by "Issued" because after 2020 the new file didn't have the columns "New" and "Renewals", only "Issued". In this case, to keep the standard of the project, I needed to mantain only "Issued".
df.rename(columns={"Total": "Issued", "Nationality": "Country"}, inplace=True) # I had to replace "Nationality" by just "Country" once that this analysis is about countries
df.drop(columns=["New", "Renewal"], inplace=True) # Here I realized that the column "Sector" that was empty and it was useless

# I had to make some data cleaning before because some countries had different names years ago

In [9]:
# I grouped by country because in some cases when I was fixing I replaced the old name to the new name, ie Hong Kong -> China making double China
df_grouped = df.groupby(["Year", "Country"], dropna=False).agg({
    "Issued": "sum",
    "Refused": "sum",
    "Withdrawn": "sum"
}).reset_index()

In [10]:
# I used the extension .csv because is lighter and easy to work with some libraries like pandas, sqlalchemy
df_grouped.to_csv(f"E:/My Drive/ESTUDOS DATA SCIENCE/ie-employment-permit/data/{year}/permits-by-nationality-{year}.csv", index=False)

print(df_grouped)

    Year      Country  Issued  Refused  Withdrawn
0   2014  Afghanistan       1        0          0
1   2014      Albania       4        0          0
2   2014      Algeria       1        0          0
3   2014       Angola       1        0          0
4   2014    Argentina      26        3          0
..   ...          ...     ...      ...        ...
90  2014   Uzbekistan       1        0          0
91  2014    Venezuela      37        4          0
92  2014      Vietnam       5        2          0
93  2014       Zambia       0        2          0
94  2014     Zimbabwe       6        2          0

[95 rows x 5 columns]